{% extends 'base.html' %}

{% block title %}Ajouter un Étudiant{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Ajouter un étudiant</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Nom d'utilisateur</label>
            <input type="text" name="username" id="username" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Mot de passe</label>
            <input type="password" name="password" id="password" class="form-control" required>
        </div>
        {{ form.as_p }}
        <button type="submit" class="btn btn-success mt-2">Ajouter</button>
    </form>
</div>
{% endblock %}
