{% extends 'base.html' %}

{% block title %}Profil Utilisateur{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <div class="card card-body text-center">
                <a class="btn btn-warning mb-3" href="{% url 'home' %}">&#8592; Retour à l'accueil</a>
                <h4>{{ request.user.username }}</h4>
                <hr>
                <img class="profile-pic img-thumbnail" 
                     src="{% if request.user.etudiant.profile_picture %}{{ request.user.etudiant.profile_picture.url }}{% else %}{% static 'images/default.png' %}{% endif %}" 
                     alt="Photo de profil">
            </div>
        </div>

        <div class="col-md-9">
            <div class="card card-body">
                <h4>Mettre à jour les informations</h4>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary mt-2">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
.profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}
</style>
{% endblock %}
